<!-- Widget container -->
<div class="container">
  <!-- Chat window -->
  <div class="chatWindow" style="border-radius: 30px">
    <ion-header [translucent]="true" style="border-radius: 30px">
      <ion-toolbar style="border-radius: 30px">
        <ion-title>
          Chat GPT
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [scrollEvents]="true">
      <div *ngIf="!messages.length" class="empty">
        <ion-icon src="assets/mensaje.svg"></ion-icon>
        <h4>Tu chat esta vacío...</h4>
      </div>

      <ion-item lines="none" [ngClass]="{'bot': m.sender !== 'me'}" class="chat-item"
        *ngFor="let m of messages; index as i">
        <ion-badge slot="start" [color]="m.sender === 'me' ? 'warning' : 'danger'">
          <ion-icon class="chat-icon"
            [src]="m.sender === 'me' ? 'assets/user.svg' : 'assets/Dragonblanco.svg'"></ion-icon>
        </ion-badge>
        <ion-label>
          <p>{{m.content}}</p>
          <ion-spinner *ngIf="loading && (i+1 === messages.length)" color="danger" name="dots"></ion-spinner>
        </ion-label>
      </ion-item>
    </ion-content>

    <ion-footer>
      <form [formGroup]="form" (click)="submit()" (ngSubmit)="submit()" (keyup.enter)="submit()">
        <ion-item class="text-box-item">
          <ion-textarea formControlName="promt" auto-grow="true" placeholder="Escribe algo..."></ion-textarea>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon style="color: blueviolet;" class="submit-icon" name="send"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </form>
    </ion-footer>
  </div>
    
    <!-- Toggle button -->
    <div style="text-align: center;" class="chatToggle"  (click)="toggleChat()">
      <ion-icon style="padding-top: 20px; width: 2.2em; height: 2.2em;" src="assets/mensaje2.svg"></ion-icon>
    </div>
</div>